.drawer {
	height: 100%;
	width: 90%;
 	opacity: 0.75;
	max-width:320px;
	position: absolute;
	top: 0;
	background: #fff;
	color:#333;
	z-index: 100;
	transition: all .25s;
	overflow-y: auto;
}
.drawer[data-drawer-side="left"] {
	transform: translateX(-100%);
	left: 0;
}
.drawer[data-drawer-side="right"] {
	transform: translateX(100%);
	right: 0;
}
.drawer-title {
	background:#eee;
	color:#555;
}
.drawer.show {
	opacity: 1;
	box-shadow:0 0 4px rgba(0,0,0,0.5);
	transform: translateX(0);
}
.main::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 10;
	width: 0%;
	background: rgba(0,0,0,0);
	transition: background .25s;
}

.drawer.show ~ .main::before {
	background: rgba(0,0,0,0.5);
	width: 100%;
}