.drawer {
	height: 100%;
	width: 90%;
 	opacity: 0.75;
	max-width:320px;
	position: absolute;
	top: 0;
	background: #fff;
	color:#333;
	z-index: 100;
	transition: all 0.5s;
	overflow-y: auto;
}
.drawer-title {
	background:#eee;
	color:#555;
}
.drawer[data-drawer-side="left"] {
	transform: translateX(-200%);
	left: 0;
}
.drawer[data-drawer-side="right"] {
	transform: translateX(200%);
	right: 0;
}
.drawer.visible {
	opacity: 1;
	box-shadow:0 0 4px rgba(0,0,0,0.5);
	transform: translateX(0);
}
.main::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 10;
	transition: all .2s;
}
.drawer.hidden ~ .drawer.hidden ~ .main::before {	
	background: rgba(0,0,0,0);
	height: 0;
}
.drawer.visible ~ .main::before {	
	background: rgba(0,0,0,0.5);
	height: 100%;
}